<html>
<head>
        <title>Decision App</title>
</head>
<body>
    <!--Using Variable-->
    <h1>Let's Create Your Decision Profile </h1>
    <p>Here are the games available to you <%= name %></p>
    <a href="/logout">Logout</a>

</body>
</html>