<html>
<head>
        <title>Decision App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar'); %>
    <!--Using Variable-->
    <div class="container-fluid" style="width: 80%; margin-top:5em;">
        <h1>Get to Know Your Decision-Making Style</h1>
        <p>Below are series of test for finding out about your decision-making style. Each game or test target specific aspect of decision-making; one about how far ahead you plan, another about whether you are emotional decision-maker and the other about indecision.</p>
        <div class="mx-auto" style="width: 80%; ">
        <form action="/games/indecision" method="POST">
                <div class="form-group row">
                  <label for="zero" class="col col-form-label">I try to put off making decisions.</label>
                    <input type="range" step="1" class="col form-control" id="zero" name="zero" list="markers">
                    <datalist id="markers">
                        <option value="-2" label="-2" step="1"></option>
                        <option value="-1" label="-1" step="1"></option>
                        <option value="0" label="0" step="1"></option>
                        <option value="1" label="1" step="1"></option>
                        <option value="2" label="2" step="1"></option>
                      </datalist>
                </div>
                <div class="form-group row">
                    <label for="one" class="col col-form-label">I always know exactly what I want.</label>
                      <input type="range" class="col form-control" id="one" name="one" list="markers">
                      <datalist id="markers">
                        <option value="-2" label="-2" step="1"></option>
                        <option value="-1" label="-1" step="1"></option>
                        <option value="0" label="0" step="1"></option>
                        <option value="1" label="1" step="1"></option>
                        <option value="2" label="2" step="1"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="two" class="col col-form-label">I find it easy to make decisions.</label>
                      <input type="range" class="col form-control" id="two" name="two" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="three" class="col col-form-label">I have a hard time planning my free time.</label>
                      <input type="range" class="col form-control" id="three" name="three" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="four" class="col col-form-label">I like to be in a position to make decisions.</label>
                      <input type="range" class="col form-control" id="four" name="four" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="five" class="col col-form-label">Once I make a decision, I feel fairly confident that it is a good one.</label>
                      <input type="range" class="col form-control" id="five" name="five" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="six" class="col col-form-label">When ordering from a menu, I usually find it difficult to decide what to get.</label>
                      <input type="range" class="col form-control" id="six" name="six" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="seven" class="col col-form-label">I usually make decisions quickly.</label>
                      <input type="range" class="col form-control" id="seven" name="seven" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="eight" class="col col-form-label">Once I make a decision, I stop worrying about it.</label>
                      <input type="range" class="col form-control" id="eight" name="eight" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="nine" class="col col-form-label">I become anxious when making a decision.</label>
                      <input type="range" class="col form-control" id="nine" name="nine" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="10" class="col col-form-label">I often worry about making the wrong choice.</label>
                      <input type="range" class="col form-control" id="10" name="10" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="11" class="col col-form-label">After I have chosen or decided something, I often believe I've made the wrong choice or decision.</label>
                      <input type="range" class="col form-control" id="11" name="11" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="12" class="col col-form-label">I do not get assignments done on time because I cannot decide what to do first.</label>
                      <input type="range" class="col form-control" id="12" name="12" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="13" class="col col-form-label">I have trouble completing assignments because I can't prioritize what is most important.</label>
                      <input type="range" class="col form-control" id="13" name="13" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <div class="form-group row">
                    <label for="14" class="col col-form-label">It seems that deciding on the most trivial thing takes me a long time.</label>
                      <input type="range" class="col form-control" id="14" name="14" list="markers">
                      <datalist id="markers">
                          <option value="0"></option>
                          <option value="25"></option>
                          <option value="50"></option>
                          <option value="75"></option>
                          <option value="100"></option>
                        </datalist>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>

              </form>
            </div>
    </div>
</body>
</html>