<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Decision App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <!--Using Variable-->
    <div class="container-fluid">
        <div class="row">
            <div class="col background-column"></div>
            <div class="col d-flex align-items-center" style="min-height: 98vh">
                <div class="col-md-8">
                    <h1 class="main-title">Do You Know Your Decision Making Style?</h1>
                    <p class="main-subtitle">“This is part of an academic research. By continuing to the registration page you are giving us consent to use your data for our research purposes. <a class="main-subtitle" style="color:black; text-decoration: underline; font-weight: bold;" href="/about">Click here</a> to learn more about the research and how we handle your data</p>
                    <a class="main-subtitle" style="color:black;" href="/login"><button class="col-md-8 main-button">register or login</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
